/* styles.css */

.result-textfield {
    -fx-font-size: 16px;
    -fx-background-color: #f4f4f4;
}

.result-textarea {
    -fx-font-size: 14px;
    -fx-background-color: #f4f4f4;
}

.action-button {
    -fx-font-size: 14px;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}
