#leftPane{
-fx-background-color : rgba(10,150,255,0.90);

}

#rightPane{
-fx-background-color : rgba(255,255,254,0.90);
}

#imageView {
-fx-
}

#loginButton {
-fx-background-color : rgba(50,255,255);
-fx-background-radius : 15px;
-fx-text-fill : black;
-fx-font-size : 25px;
-fx-font-family : "Tw Cen MT Condensed Extra Bold";
}

